<!-- Main Page Here -->

<div id="shorts">

	<% if (env['warden'].authenticate) %>
		<div id="add-bar">
			<% puts env['warden'].user.id %>

			<form action="/<%= env['warden'].user.username %>/add" method="post">
				<input type="url" style="margin-top: 0px; margin-left: 5px;" class="link-input" name="url" placeholder="Link (Image or YouTube)" autocomplete="off"/>
				<input type="text" style="margin-top: 0px; margin-left: 5px;" class="link-input" name="title" placeholder="Title" autocomplete="off"/>
				<input type="submit" style="width: 180px; padding-top: 0px; padding-bottom: 2px; margin-top:5px; margin-left: 5px; text-transform: none;" class="button" value="Add Link">
			</form>
		</div>
		<h2 style="margin-bottom:20px; font-size: 32px; font-weight: 600; color: #656262;">Feed</h2> 
	<% end %>

	<div class="menu-underline" data-selected-item="<%= @category %>">
		<ul>
			<li><a href="/">All</a></li>
			<li><a href="/category/videos">Videos</a></li>
			<li><a href="/category/music">Music</a></li>
			<li><a href="/category/pictures">Pictures</a></li>
		</ul>
	</div>
	<script>
		//var category = $(".menu-underline").data('selected-item')
		//console.log(category);
		//if (category == "videos"){
			//$("menu-underline").children("a:eq(1)").css("border-bottom-color", "#EB5858");
		//}
	</script>

	<!-- <div id="time-bar"> <div class="current-date"></div> </div> -->
	<% count = 1 %>
	<% if @links %>
		<% @links.reverse.each do |link| %>
				<% link_username = User.get(link.user_id).username %>
				<div class="short-container">
					<div id="short-details">
						<div class="short-number"> <%= count %>.</div>
						<div class="short-title"><a href="/<%= link_username %>/<%= link.id %>"> <%= link.title %> </a></div>

						<div class="short-fav">
							<div class="short-fav-count"><%= link.num_favourites %></div>
							<% if (env['warden'].authenticate) %>
								<% if link.favourites.first(:giver => env['warden'].user.id) == nil %>
									<a href="javascript:void(0)" data-shortid="<%= link.id %>" onclick="favThis(this);"></a>
								<% else %>
									<a href="javascript:void(0)" data-shortid="<%= link.id %>" style="background-position: 0 -25px;" onclick="favThis(this);"></a>
								<% end %>
							<% else %>
								<a href="javascript:void(0)"></a>
							<% end %>
						</div> 
					</div>

					<% if %w[.png .jpg .bmp].include? File.extname(link.url) %>
						<div class="short-cover-container">
							<div class="short-cover" style="background-image:url('<%= link.url %>')"></div>
						</div>
					<% elsif %w[.gif].include? File.extname(link.url) %>
						<div class="short-cover-container">
							<div class="short-cover" style=""></div>
						</div>
					<% elsif link.url[/(youtu\.be\/|youtube\.com\/(watch\?(.*&)?v=|(embed|v)\/))([^\?&"'>]+)/] %>
						<%= youtube_embed(link.url) %>
					<% elsif link.url[/(vimeo\.com\/)/] %>
						<%= vimeo_embed(link.url) %>
					<% elsif link.url[/(soundcloud\.com\/)/] %>
						<% soudcloud_response = soundcloud_embed(link.url) %>
						<% if soudcloud_response != "Soundcloud API is down" %>
							<%= soudcloud_response %>
						<% else %>
							<div class="short-cover" style="background-image:url('http://f.cl.ly/items/3J3u0e1n1F1j382X2P0a/soundcloud-down.jpg'); height: 300px;"> </div>
						<% end %>
					<% else %>
						<div class="short-cover" style="background-image:url('http://farm9.staticflickr.com/8250/8473268091_262cda1492_c.jpg')"> </div>
					<% end %>
					<div id="bottom-bar">
						<div class="short-author" title="<%= link.id %>"> — <a href="<%= link.url %>">link</a> via
						<% if User.get(link.user_id).fullname != "" %>
							<a href="/<%= User.get(link.user_id).username %>"><%= User.get(link.user_id).fullname %></a>.</div>
						<% else %>
							<a href="/<%= User.get(link.user_id).username %>"><%= User.get(link.user_id).username %></a>.</div>
						<% end %>
					</div>
				</div> 
				<% count+=1 %>
				<% break if count==21 %>
		<% end %>
	<% end %>
</div>


