<!-- Main Page Here -->

<div id="shorts">
	<div id="time-bar"> <div class="current-date"></div> </div>
	<% count = 1 %>
	<% if @links %>
		<% @links.reverse.each do |link| %>

				<div class="short-container">
					<% if %w[.png .jpg .gif .bmp].include? File.extname(link.url) %>
						<div class="short-cover" style="background-image:url('<%= link.url %>')"></div>
					<% elsif %w[www.youtube.com].include? URI.parse(link.url).host %>
						<%= youtube_embed(link.url) %>

					<% else %>
						<div class="short-cover" style="background-image:url('http://tedlee.s3.amazonaws.com/shortlist-placeholder.jpg')"> </div>
					<% end %>
					<div id="short-details">
						<div class="short-number"> <%= count %>)</div>
						<div class="short-title"><%= link.title %> — </div>
						<a href="<%= link.url %>">Link</a>
						<a href="#" class="fav-button">★ <%= link.favourites %></a>
						<div class="short-author">[via <a href="/<%= link.user_username %>"><%= link.user_username %> </a>]</div>
					</div>
				</div> 
				<% count+=1 %>
				<% break if count==21 %>
		<% end %>
	<% end %>
	<div id="add-bar" class="short-title" style="font-weight: 200">
		All done!
	</div>
</div>


