<!-- Main Page Here -->

<div id="shorts">
	<div id="time-bar"> <div class="current-date"></div> </div>
	<% count = 1 %>
	<% if @links %>
		<% @links.reverse.each do |link| %>

				<div class="short-container">
					<% if %w[.png .jpg .gif .bmp].include? File.extname(link.url) %>
						<div class="short-cover" style="background-image:url('<%= link.url %>')"></div>
					<% elsif %w[youtube.com].include? URI.parse(link.url).host %>
						<%= youtube_embed(link.url) %>
					<% elsif %w[vimeo.com].include? URI.parse(link.url).host %>
						<%= vimeo_embed(link.url) %>
					<% elsif %w[soundcloud.com].include? URI.parse(link.url).host %>
						<%= soundcloud_embed(link.url) %>
					<% else %>
						<div class="short-cover" style="background-image:url('http://farm9.staticflickr.com/8250/8473268091_262cda1492_c.jpg')"> </div>
					<% end %>
					<div id="short-details">
						<div class="short-number"> <%= count %>.</div>
						<div class="short-title"><a href="/<%= link.user_username %>/<%= link.id %>"> <%= link.title %> </a></div>
						<div class="short-link"><a href="<%= link.url %>">Link</a></div>
						<!-- <div class="short-fav"><a href="#" class="fav-button">★ <%= link.favourites %></a></div> -->
						<div class="short-author">[via <a href="/<%= link.user_username %>"><%= link.user_username %></a>]</div>
					</div>
				</div> 
				<% count+=1 %>
				<% break if count==11 %>
		<% end %>
	<% end %>
	<div id="add-bar" class="short-title" style="font-weight: 400">
		All done!
	</div>
</div>


