<!doctype html> 
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes, maximum-scale=2.0">
	<link rel="stylesheet" href="../styles/style.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800,400,300,600,700' rel='stylesheet' type='text/css'>


	<title><%= @title %></title> 
	<meta name="description" content="Shortlist" />
	<meta name="keywords" content="" />
</head>


<body>

	<div id="wrap">
		<div id="main">
			<% if env['warden'].authenticate %>
				<div id="navbar" style="height: 50px;">
					<div id="inner-navbar" style="height: 50px; line-height: 50px;">
						<!-- When user is signed in -->
						<div class="left-logo animate-title"><a href="/">Shortlist</a></div>
						<% if @display_nav_avatar == true %>
							<a href="/<%= env['warden'].user.username %>"><div style="background-image:url('<%= User.get(env['warden'].user.id).user_avatar %>')" class="nav-avatar"></div></a>
						<% end %>
						<div class="right-button"><a href="/settings">Settings</a></div>
						<div class="right-button"><a href="/add"><span style="font-weight:800">+</span> New Short</a></div>
					</div>
				</div>
			<% else %>
				<div id="navbar" style="height: 50px;">
					<div id="inner-navbar" style="height: 50px; line-height: 50px;">
						<!-- When user is signed out -->
						<div class="left-logo"><a href="/">Shortlist</a></div>
						<div class="right-button"><a href="/login">Login</a></div>
						<div class="right-button"><a href="/signup">Sign Up</a></div>
					</div>
				</div>
			<% end %>
			
			<%= yield %>
		</div>
	</div>


	<div id="footer">
		<ul>
			<li><a href="/changelog">Changelog</a></li>
			<li><a href="/">Shortlist Home</a></li>
			<li><a href="/about">About</a></li>
			<% if env['warden'].authenticate %>
				<li><a href="/<%= env['warden'].user.username %>">My Shortlist</a></li>
				<li><a href="/logout">Logout</a></li>
			<% else %>
				<li><a href="/signup">Sign Up</a></li>
			<% end %>
		</ul>
	</div>

	<script type="text/javascript" src="../scripts/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/main.js"></script>
	<script type="text/javascript" src="../scripts/moment.min.js"></script>
</body>

<!-- GoSquared -->
<script type="text/javascript">
  var GoSquared = {};
  GoSquared.acct = "GSN-942552-D";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
</script>

<% if env['warden'].authenticate %>
	<!-- Intercom -->
	<script id="IntercomSettingsScriptTag">
	  window.intercomSettings = {
	    // TODO: The current logged in user's email address.
	    email: "<%= User.get(env['warden'].user.id).user_email %>",
	    // TODO: The current logged in user's sign-up date as a Unix timestamp.
	    created_at: <%= User.get(env['warden'].user.id).created_at.to_time.to_i %>,
	    name: "<%= User.get(env['warden'].user.id).fullname %>",
	    app_id: "de51b166ca470bd2d22be7a5f63aa810b8440eda"
	  };
	</script>
	<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://api.intercom.io/api/js/library.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>
<% end %>
</html>