<!doctype html> 
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0">
	<link rel="stylesheet" href="../styles/style.css" type="text/css" />
	<script type="text/javascript" src="../scripts/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/main.js"></script>
	<script type="text/javascript" src="../scripts/moment.min.js"></script>
	<link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:100,200,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800,400,300,600,700' rel='stylesheet' type='text/css'>


	<title><%= @title %></title> 
	<meta name="description" content="Shortlist" />
	<meta name="keywords" content="" />
</head>


<body>

	<div id="wrap">
		<div id="main">
			<% if env['warden'].authenticate %>
				<div id="navbar" style="height: 50px;">
					<div id="inner-navbar" style="height: 50px; line-height: 50px;">
						<!-- When user is signed in -->
						<div class="left-logo"><a href="/">Shortlist</a></div>
						<a href="/<%= env['warden'].user.username %>"><img src="<%= User.get(env['warden'].user.username).user_avatar %>" class="nav-avatar"></a>
						<div class="right-button"><a href="/logout">Logout</a></div>
					</div>
				</div>
			<% else %>
				<div id="navbar">
					<div id="inner-navbar">
						<!-- When user is signed out -->
						<div class="left-logo"><a href="/">Shortlist</a></div>
						<div class="right-button"><a href="/login">Login</a></div>
					</div>
				</div>
			<% end %>
			
			<%= yield %>
		</div>
	</div>


	<div id="footer">
		<ul>
			<li><a href="/changelog">Changelog</a></li>
			<li><a href="/">Shortlist Home</a></li>
			<li><a href="/about">About</a></li>
			<% if env['warden'].authenticate %>
				<li><a href="/<%= env['warden'].user.username %>">My Shortlist</a></li>
				<li><a href="/logout">Logout</a></li>
			<% else %>
				<li><a href="/signup">Sign Up</a></li>
			<% end %>
		</ul>
	</div>

</body>

<!-- GoSquared -->
<script type="text/javascript">
  var GoSquared = {};
  GoSquared.acct = "GSN-942552-D";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
</script>
</html>