
<div id="hero" style="background-image:url('../images/nyc-wood-bg.jpg')">
	<!-- <img src='../images/ted.jpg' class="avatar"> -->
	<a href="/<%= @user.username %>"><img src="<%= @user.user_avatar %>" class="avatar"></a>
	<div class="hero-marker"></div> 
</div>

<div class="hero-marker"></div>
<script type="text/javascript" src="../scripts/underscore-min.js"></script>
<script type="text/javascript" src="../scripts/s3-upload.js"></script>

<div id="signup-box">
	<form action="/settings" method="post">
		<label class="settings-label">Username</label>
		<input type="text" class="link-input" name="username" value="<%= @user.username %>" autofocus/>
		<label class="settings-label">First Name</label>
		<input type="text" class="link-input" name="firstname" value="<%= @user.firstname %>"/>
		<label class="settings-label">Last Name</label>
		<input type="text" class="link-input" name="lastname" value="<%= @user.lastname %>"/>
		<input type="text" style="display:none" class="link-input" name="user_avatar" value="<%= @user.user_avatar  %>"/>

		<!-- This is quite a hacky way to style an input box. My eyes bleed just looking at this -->
		<!-- Programmers talk a lot about solving hard problems — CAN WE PLEASE SOLVE THIS NEXT FOLKS -->
		<div style="position:relative;">
			<div id="file" class="upload-button">Change Profile Picture</div>
			<input type="file" style="opacity:0; z-index:1; margin-top:10px;" class="button" name="upload_user_avatar" />
		</div>
		<input type="submit" class="button" style="margin-top: 0px;" value="Make Changes">
	</form>
</div>


<script>

$(function() {
	$("input:file").change(function (){
		var file_extension = $("input:file").val().split('.').pop().toLowerCase();
		if ($.inArray(file_extension, ['gif','png','jpg', 'bmp', 'jpeg']) > 0) {
			if (this.files[0].size < 1048576) {
				
				var s3upload = s3upload != null ? s3upload : new S3Upload({
					file_dom_selector: 'input[type=file]',
		 			s3_sign_put_url: '/signS3put',
					onProgress: function(percent, message) { // Use this for live upload progress bars
						//console.log('Upload progress: ', percent, message);
						$('.upload-button').empty()
						$('.upload-button').text('Uploading (' + percent +'% Done\)')
					},
					onFinishS3Put: function(public_url) { // Get the URL of the uploaded file
						//console.log('Upload finished: ', public_url);
						$('.upload-button').empty();
						$('.upload-button').text('Done!');
						$('input[name="user_avatar"]').val(public_url)

						if ($('.animate-avatar').length) {
							$('.animate-avatar').remove();
							$('<a href="/"><img src="' + public_url + '" class="nav-avatar animate-avatar"></a>').insertAfter('.left-logo');
						} else {
							$('<a href="/"><img src="' + public_url + '" class="nav-avatar animate-avatar"></a>').insertAfter('.left-logo');
						}
					},
					onError: function(status) {
						console.log('Upload error: ', status);
					}
				});
			}else {alert("Whoa that's a big file! To keep things fast we limit profile photo sizes to under 1 MB.")}
		}else {alert("Sure that's the right file? We don't support that kind of file.")}
	});
});

</script>


