
<div id="hero" style="background-image:url('../images/nyc-park-bg.jpg')">
	<!-- <img src='../images/ted.jpg' class="avatar"> -->
	<img src="<%= @user.user_avatar %>" class="avatar">
	<div class="hero-marker"></div> 
</div>

<div id="shorts">
	<div id="time-bar"> <div class="current-date"><%= @link.created_at %></div> </div>

	<% if @user.links %>
		<div class="short-container">
			<% if %w[.png .jpg .gif .bmp].include? File.extname(@link.url) %>
				<div class="short-cover" style="background-image:url('<%= @link.url %>')"></div>
			<% elsif %w[www.youtube.com].include? URI.parse(@link.url).host %>
				<%= youtube_embed(@link.url) %>
			<% elsif %w[vimeo.com].include? URI.parse(@link.url).host %>
				<%= vimeo_embed(@link.url) %>
			<% elsif %w[soundcloud.com].include? URI.parse(@link.url).host %>
				<%= soundcloud_embed(@link.url) %>
			<% else %>
				<div class="short-cover" style="background-image:url('http://tedlee.s3.amazonaws.com/shortlist-placeholder.jpg')"> </div>
			<% end %>
			<div id="short-details">
				<div class="short-title"><a href="/<%= @link.user_username %>/<%= @link.id %>"> <%= @link.title %> </a></div>
				<div class="short-link"><a href="<%= @link.url %>">Link</a></div>
				<!-- <div class="short-fav"><a href="#" class="fav-button">★ <%= @link.favourites %></a></div> -->
				<div class="short-author">[via <a href="/<%= @link.user_username %>"><%= @link.user_username %></a>]</div>
			</div>
		</div> 
	<% end %>

	<div id="add-bar">
		<% if (env['warden'].authenticate) && (@user.username == env['warden'].user.username) %>
			<% puts env['warden'].user.username %>
			<% puts @user.username %>
			<form action="/<%= @user.username %>/edit/<%= @link.id %>" method="post">
				<input type="text" class="link-input" name="url" value="<%= @link.url %>" autocomplete="off"/>
				<input type="text" class="link-input" name="title" value="<%= @link.title %>" autocomplete="off"/>
				<input type="submit" class="link-input link-button" value="Confirm Edit">
			</form>
			<form action="/<%= @user.username %>/delete/<%= @link.id %>" method="post">
				<input type="submit" class="link-input link-button" value="Remove Short">
			</form>
		<% end %>
	</div>
</div>



