
<div id="hero" style="background-image:url('../images/nyc-wood-bg.jpg')">
	<!-- <img src='../images/ted.jpg' class="avatar"> -->
	<div class="profile-name"><%= @user.fullname %></div>
	<a href="/<%= @user.username %>">
		<div style="background-image:url('<%= @user.user_avatar %>')" class="avatar"></div>
		<% if @user.faves_received > 1 %>
			<div class="profile-faves-received"><span style="font-weight:600"><%= @user.faves_received %></span> Faves</div>
		<% elsif @user.faves_received == 1 %>
			<div class="profile-faves-received"><span style="font-weight:600">1</span> Favourite</div>
		<% else %>
			<div class="profile-faves-received"><span style="font-weight:600">0</span> Favourites</div>
		<% end %>
	</a>
	<div class="hero-marker"></div> 
</div>

<div id="shorts">
	<div id="time-bar"> <div class="current-date"><%= @link.created_at %></div> </div>


	<% if @user.links %>
		<% link_username = User.get(@link.user_id).username %>
		<div class="short-container">

			<div id="short-details">
				<div class="short-title"><a href="/<%= link_username %>/<%= @link.id %>"> <%= @link.title %> </a></div>

				<div class="short-fav">
					<div class="short-fav-count"><%= @link.num_favourites %></div>
					<% if (env['warden'].authenticate) %>
						<% if @link.favourites.first(:giver => env['warden'].user.id) == nil %>
							<a href="javascript:void(0)" data-shortid="<%= @link.id %>" onclick="favThis(this);"></a>
						<% else %>
							<a href="javascript:void(0)" data-shortid="<%= @link.id %>" style="background-position: 0 -25px;" onclick="favThis(this);"></a>
						<% end %>
					<% else %>
						<a href="javascript:void(0)"></a>
					<% end %>
				</div> 
			</div>

			<% if %w[.png .jpg .bmp .gif].include? File.extname(@link.url) %>
				<div class="short-cover-container">
					<div class="short-cover" style="background-image:url('<%= @link.url %>'); background-position: 50% <%= @link.cover_yposition %>%"></div>
				</div>
			<% elsif @link.url[/(youtu\.be\/|youtube\.com\/(watch\?(.*&)?v=|(embed|v)\/))([^\?&"'>]+)/] %>
				<%= youtube_embed(@link.url) %>
			<% elsif @link.url[/(vimeo\.com\/)/] %>
				<%= vimeo_embed(@link.url) %>
			<% elsif @link.url[/(soundcloud\.com\/)/] %>
				<% soudcloud_response = soundcloud_embed(@link.url) %>
				<% if soudcloud_response != "Soundcloud API is down" %>
					<%= soudcloud_response %>
				<% else %>
					<div class="short-cover" style="background-image:url('http://f.cl.ly/items/3J3u0e1n1F1j382X2P0a/soundcloud-down.jpg'); height: 300px;"> </div>
				<% end %>
			<% else %>
				<div class="short-cover" style="background-image:url('http://farm9.staticflickr.com/8250/8473268091_262cda1492_c.jpg')"> </div>
			<% end %>
			<div id="bottom-bar">
				<div class="short-author" title="<%= @link.id %>"> — <a href="<%= @link.url %>">link</a> via
				<% if @user.fullname != "" %>
					<a href="/<%= link_username %>"><%= @user.fullname %></a>.</div>
				<% else %>
					<a href="/<%= link_username %>"><%= @user.username %></a>.</div>
				<% end %>
			</div>

		</div> 
	<% end %>

	<% if ((env['warden'].authenticate) && (@user.username == env['warden'].user.username)) || ((env['warden'].authenticate) && (ENV['ADMIN_USERNAME'] == env['warden'].user.username)) %>
		<div id="add-bar" style="padding-bottom: 5px;">
			<% puts env['warden'].user.username %>
			<% puts @user.username %>
			<form style="display: inline-block;" action="/<%= @user.username %>/edit/<%= @link.id %>" method="post">
				<input type="url" style="margin-top: 0px; margin-left: 5px;" class="link-input" name="url" value="<%= @link.url %>" autocomplete="off"/>
				<input type="text" style="margin-top: 0px; margin-left: 5px;" class="link-input" name="title" value="<%= @link.title %>" autocomplete="off"/>
				<input type="submit" style="width: 180px; padding-top: 0px; padding-bottom: 2px; margin-top:5px; margin-left: 5px; text-transform: none;" class="button" value="Confirm Edit">
			</form>
			<form style="display: inline-block;" action="/<%= @user.username %>/delete/<%= @link.id %>" method="post">
				<input type="submit" style="width: 180px; padding-top: 0px; padding-bottom: 2px; margin-top:0px; margin-left: 5px; text-transform: none;" class="button" value="Remove Short">
			</form>
		</div>
	<% end %>
</div>


