
<div id="hero" style="background-image:url('../images/nyc-park-bg.jpg')">
	<!-- <img src='../images/ted.jpg' class="avatar"> -->
	<img src="<%= @user.user_avatar %>" class="avatar">
	<div class="hero-marker"></div> 
</div>

<%
	def youtube_embed(youtube_url)

		# Regex from https://gist.github.com/1254889
		youtube_url[/(youtu\.be\/|youtube\.com\/(watch\?(.*&)?v=|(embed|v)\/))([^\?&"'>]+)/]
		youtube_id = $5

		%Q{<iframe title="YouTube video player" width="100%" height="550" src="http://www.youtube.com/embed/#{ youtube_id }" frameborder="0" allowfullscreen></iframe>}
	end
%>

<div id="shorts">
	<div id="time-bar"> <div class="current-date">Tuesday January 1st 2013</div> </div>
	<% count = 1 %>
	<% if @user.links %>
		<% @user.links.reverse.each do |link| %>

				<div class="short-container">
					<% if %w[.png .jpg .gif .bmp].include? File.extname(link.url) %>
						<div class="short-cover" style="background-image:url('<%= link.url %>')"></div>
					<% elsif %w[www.youtube.com].include? URI.parse(link.url).host %>
						<%= youtube_embed(link.url) %>

					<% else %>
						<div class="short-cover" style="background-image:url('../images/short-cover.jpg')"> </div>
					<% end %>
					<div id="short-details">
						<div class="short-number"> <%= count %>)</div>
						<div class="short-description"><%= link.description %> — </div>
						<a href="<%= link.url %>">Link</a>
					</div>
				</div> 
				<% count+=1 %>
				<% break if count==4 %>
		<% end %>
	<% end %>
	<div id="add-bar">
		<form action="/<%= @user.username %>/add" method="post">
			<input type="text" name="url" placeholder="Link" autocomplete="off"/>
			<input type="text" name="title" placeholder="Title" autocomplete="off"/>
			<input type="text" name="description" placeholder="Description" autocomplete="off"/>
			<input type="submit" value="Add Link">
		</form>
	</div>
</div



