
<div id="hero" style="background-image:url('../images/nyc-park-bg.jpg')">
	<!-- <img src='../images/ted.jpg' class="avatar"> -->
	<img src="<%= @user.user_avatar %>" class="avatar">
	<div class="hero-marker"></div> 
</div>


<div id="shorts">
	<div id="time-bar"> <div class="current-date">Tuesday January 1st 2013</div> </div>
	<% count = 1 %>
	<% if @user.links %>
		<% @user.links.reverse.each do |link| %>

				<div class="short-container">
					<% if %w[.png .jpg .gif .bmp].include? File.extname(link.url) %>
						<div id="short-cover" style="background-image:url('<%= link.url %>')"> </div>
					<% else %>
						<div id="short-cover" style="background-image:url('../images/short-cover.jpg')"> </div>
					<% end %>
					<div id="short-details">
						<div class="short-number"> <%= count %>)</div>
						<div class="short-description"><%= link.description %> — </div>
						<a href="<%= link.url %>">Link</a>
					</div>
				</div> 
				<% count+=1 %>
				<% break if count==4 %>
		<% end %>
	<% end %>
</div





<br><br>
	<form action="/<%= @user.username %>/add" method="post">
		<input type="text" name="url" placeholder="Link"/>
		<input type="text" name="title" placeholder="Title"/>
		<input type="text" name="description" placeholder="Description"/>
		<input type="submit" value="Add Link">
	</form>


	<% if @user.links %>
		<% @user.links.each do |link| %>
			<article>
				<p>
					<%= link.url %>
					<%= link.title %>
					<%= link.description %>
				</p>
				<span><a href="/<%= @user.username %>/<%= link.id %>/edit">[edit]</a></span>
			</article>
		<% end %>
	<% end %>
