
<div id="hero" style="background-image:url('../images/nyc-park-bg.jpg')">
	<!-- <img src='../images/ted.jpg' class="avatar"> -->
	<img src="<%= @user.user_avatar %>" class="avatar">
	<div class="hero-marker"></div> 
</div>


<div id="shorts">
	<div id="time-bar"> <div class="current-date">Tuesday January 1st 2013</div></div>
	<div class="short-container">
		<div id="short-cover" style="background-image:url('../images/short-cover.jpg')"> </div>
		<!-- <img src="../images/short-cover.jpg"> -->
		<div id="short-details">
			<div class="short-number">1)</div>
			<div class="short-description">Really enjoyed this Pixar short La Luna</div>
		</div>
	</div>
</div>

	<% if @user.links %>
		<% @user.links.each do |link| %>
			<article>
				<p>
					<%= link.url %>
					<%= link.title %>
					<%= link.description %>
				</p>
				<span><a href="/<%= @user.username %>/<%= link.id %>/edit">[edit]</a></span>
			</article>
		<% end %>
	<% end %>
</div>