
<div id="hero" style="background-image:url('../images/nyc-park-bg.jpg')">
	<!-- <img src='../images/ted.jpg' class="avatar"> -->
	<img src="<%= @user.user_avatar %>" class="avatar">
	<div class="hero-marker"></div> 
</div>

<div id="shorts">
	<div id="time-bar"> <div class="current-date"></div> </div>
	<% count = 1 %>
	<% if @user.links %>
		<% @user.links.reverse.each do |link| %>

				<div class="short-container">
					<% if %w[.png .jpg .gif .bmp].include? File.extname(link.url) %>
						<div class="short-cover" style="background-image:url('<%= link.url %>')"></div>
					<% elsif %w[www.youtube.com].include? URI.parse(link.url).host %>
						<%= youtube_embed(link.url) %>

					<% else %>
						<div class="short-cover" style="background-image:url('http://tedlee.s3.amazonaws.com/shortlist-placeholder.jpg')"> </div>
					<% end %>
					<div id="short-details">
						<div class="short-number"> <%= count %>)</div>
						<div class="short-title"><%= link.title %> — </div>
						<a href="<%= link.url %>">Link</a>
					</div>
				</div> 
				<% count+=1 %>
				<% break if count==4 %>
		<% end %>
	<% end %>
	<div id="add-bar">
		<% if (env['warden'].authenticate) && (@user.username == env['warden'].user.username) %>
			<% puts env['warden'].user.username %>
			<% puts @user.username %>
			<form action="/<%= @user.username %>/add" method="post">
				<input type="text" class="link-input" name="url" placeholder="Link (Image or YouTube)" autocomplete="off"/>
				<input type="text" class="link-input" name="title" placeholder="Title" autocomplete="off"/>
				<input type="submit" class="link-input link-button" value="Add Link">
			</form>
		<% end %>
	</div>
</div>



