
<div id="hero" style="background-image:url('../images/nyc-wood-bg.jpg')">
	<!-- <img src='../images/ted.jpg' class="avatar"> -->
	<a href="/<%= @user.username %>"><img src="<%= @user.user_avatar %>" class="avatar"></a>
	<div class="hero-marker"></div> 
</div>

<div id="shorts">
	<div id="time-bar"> <div class="current-date"></div> </div>
	<% count = 1 %>
	<% if @user.links %>
		<% @user.links.reverse.each do |link| %>
			<%=puts link.url %>
				<div class="short-container">
					<% if %w[.png .jpg .gif .bmp].include? File.extname(link.url) %>
						<div class="short-cover" style="background-image:url('<%= link.url %>')"></div>
					<% #Bug here that will catch all URLS that end in youtube.com and doesn't accept URLs with just "www." prefix %>
					<% elsif %w[youtube.com].include? URI.parse(link.url).host %>
						<%= youtube_embed(link.url) %>
					<% elsif %w[vimeo.com].include? URI.parse(link.url).host %>
						<%= vimeo_embed(link.url) %>
					<% elsif %w[soundcloud.com].include? URI.parse(link.url).host %>
						<%= soundcloud_embed(link.url) %>
					<% else %>
						<% puts "Non Vimeo Link!!" %>
						<div class="short-cover" style="background-image:url('http://tedlee.s3.amazonaws.com/shortlist-placeholder.jpg')"> </div>
					<% end %>
					<div id="short-details">
						<div class="short-number"> <%= count %>.</div>
						<div class="short-title"><a href="/<%= link.user_username %>/<%= link.id %>"> <%= link.title %> </a></div>
						<div class="short-link"><a href="<%= link.url %>">Link</a></div>
						<!-- <div class="short-fav"><a href="#" class="fav-button">★ <%= link.favourites %></a></div> -->
						<div class="short-author">[via <a href="/<%= link.user_username %>"><%= link.user_username %></a>]</div>
					</div>
				</div> 
				<% count+=1 %>
				<% break if count==4 %>
		<% end %>
	<% end %>
	<div id="add-bar">
		<% if (env['warden'].authenticate) && (@user.username == env['warden'].user.username) %>
			<% puts env['warden'].user.username %>
			<% puts @user.username %>
			<form action="/<%= @user.username %>/add" method="post">
				<input type="text" style="margin-top: 0px; margin-left: 5px;" class="link-input" name="url" placeholder="Link (Image or YouTube)" autocomplete="off"/>
				<input type="text" style="margin-top: 0px; margin-left: 5px;" class="link-input" name="title" placeholder="Title" autocomplete="off"/>
				<input type="submit" style="width: 180px; padding-top: 0px; padding-bottom: 2px; margin-top:5px; margin-left: 5px; text-transform: none;" class="button" value="Add Link">
			</form>
		<% end %>
	</div>
</div>



