
<div id="hero" style="background-image:url('../images/nyc-wood-bg.jpg')">
	<!-- <img src='../images/ted.jpg' class="avatar"> -->
	<a href="/<%= @user.username %>"><div style="background-image:url('<%= @user.user_avatar %>')" class="avatar"></div></a>
	<div class="hero-marker"></div> 
</div>

<div id="shorts">
	<% if (env['warden'].authenticate) && (@user.username == env['warden'].user.username) %>
		<div id="add-bar">
			<% puts env['warden'].user.username %>
			<form action="/<%= env['warden'].user.username %>/add" method="post">
				<input type="url" style="margin-top: 0px; margin-left: 5px;" class="link-input" name="url" placeholder="Link (Image or YouTube)" autocomplete="off"/>
				<input type="text" style="margin-top: 0px; margin-left: 5px;" class="link-input" name="title" placeholder="Title" autocomplete="off"/>
				<input type="submit" style="width: 180px; padding-top: 0px; padding-bottom: 2px; margin-top:5px; margin-left: 5px; text-transform: none;" class="button" value="Add Link">
			</form>
		</div>
	<% end %>

	<div id="time-bar"> <div class="current-date"></div> </div>
	<% count = 1 %>
	<% if @user.links %>
		<% @user.links.reverse.each do |link| %>
			<%=puts link.url %>
				<div class="short-container">
					<% if %w[.png .jpg .gif .bmp].include? File.extname(link.url) %>
						<div class="short-cover" style="background-image:url('<%= link.url %>')"></div>
					<% #Bug here that will catch all URLS that end in youtube.com and doesn't accept URLs with just "www." prefix %>
					<% elsif link.url[/(youtu\.be\/|youtube\.com\/(watch\?(.*&)?v=|(embed|v)\/))([^\?&"'>]+)/] %>
						<%= youtube_embed(link.url) %>
					<% elsif link.url[/(vimeo\.com\/)/] %>
						<%= vimeo_embed(link.url) %>
					<% elsif link.url[/(soundcloud\.com\/)/] %>
						<% soudcloud_response = soundcloud_embed(link.url) %>
						<% if soudcloud_response != "Soundcloud API is down" %>
							<%= soudcloud_response %>
						<% else %>
							<div class="short-cover" style="background-image:url('http://f.cl.ly/items/3J3u0e1n1F1j382X2P0a/soundcloud-down.jpg'); height: 300px;"> </div>
						<% end %>
					<% else %>
						<% puts "Non Vimeo Link!!" %>
						<div class="short-cover" style="background-image:url('http://farm9.staticflickr.com/8250/8473268091_262cda1492_c.jpg')"> </div>
					<% end %>
						<div id="short-details">
							<div class="short-title"><a href="/<%= link.user_username %>/<%= link.id %>"> <%= link.title %> </a></div>

							<div class="short-author" title="<%= link.id %>"> — <a href="<%= link.url %>">link</a> via <a href="/<%= link.user_username %>"><%= link.user_username %></a>.</div>
							<div class="short-fav">
								<% if (env['warden'].authenticate) %>
									<% if link.favourites.first(:giver => env['warden'].user.username) == nil %>
										<a href="javascript:void(0)" onclick="favThis(this);"></a>
									<% else %>
										<a href="javascript:void(0)" style="background-position: 0 -25px;" onclick="favThis(this);"></a>
									<% end %>
								<% else %>
									<a href="javascript:void(0)"></a>
								<% end %>
								<div class="short-fav-count"><%= link.num_favourites %></div>
							</div> 
						</div>

				</div> 
				<% count+=1 %>
				<% break if count==50 %>
		<% end %>
	<% end %>
	<div id="bottom-bar" class="short-title" style="font-weight: 400">
		Nothing to see here!
	</div>
</div>



